[Desktop Entry]
GenericName=EnvyControl
GenericName[ru]=EnvyControl
GenericName[es_ES]=EnvyControl
GenericName[en]=EnvyControl

Comment[ru]=Управление переключением ГП
Comment=Control del cambio de GPU
Comment[es]=Control del cambio de GPU
Comment[en]=GPU switch control

Exec=python3 
Icon=
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Utilities;
X-KDE-SubstituteUID=false
X-KDE-Username=
